# pip -install -r requirements.txt
Pillow==12.2.0
holidays==0.95
imbalanced-learn==0.14.1
matplotlib==3.10.8
missingno==0.5.2
networkx==3.6.1
numpy==2.4.4
opencv-python==4.13.0.92
pandas==3.0.2
pyampute==0.0.3
scikit-learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
statsmodels==0.14.6
umap-learn==0.5.12
